<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
</head>

<body>
    {{>navbar}}

    <!-- Main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    
                     <!-- Right side div -->
                     <div class="col-md-12 col-12  main_header_left align-items-center">
                        <figure class="errimg">  
                            <img src="Images/404.png" alt="Aj" class="img-fluid" title="Aj_Anuj">
                        </figure>
                        <p> Welcome to  Aj_web_World </p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/">  <button> Go Back</button></a>
                    </div>
                
    </div>



                      </div>
                </div>
             </div>
             </div>

            </div>

            <!-- footer code -->

          {{>footer}}
</body>
</html>