<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
</head>

<body>
    {{>navbar}}

    <!-- Main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                     <!-- Right side div -->
                     <div class="col-md-6 col-12  main_header_right align-items-Right">
                        <figure>
                            <img src="Images/About.jpeg" alt="Aj" class="img-fluid" title="Aj_Anuj">
                        </figure>
                    </div>
               <!-- left side div -->
                    <div class="col-md-6 col-12  main_header_left align-items-left">
                        <p> Welcome to weather app </p>
                        <h1>I Am A <span class="text_clr">Mern Stack Developer</span> & freelancer </h1>
                        <a href="https://www.coderworldlabs.com/" target="_Aj_Anuj">  <button> About me</button></a>
                    </div>
                
    


                      </div>
                </div>
             </div>
             </div>

            </div>

            <!-- footer code -->

          {{>footer}}
</body>
</html>